/* font style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* Common Style */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* ----------------
  First Part Starts
-------------------*/

.first-part {
  display: flex;
  background-color: #2d25a0;
  height: 570px;
  background-size: auto;
  justify-content: center;
  margin-bottom: 50px;
}
.half-width {
  padding-left: 10%;
  padding-top: 6%;
  text-align: justify;
}
.half-width img {
  width: 556px;
}

.text-part h1 {
  font-size: 64px;
  color: white;
}
.top-button {
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 15px;
  font-size: 15px;
  color: white;
  transition: 0.3s linear;
}
.top-button:hover {
  background-color: #3dbafd;
  box-shadow: 1px 1px 25px rgb(138, 137, 137);
  padding: 15px 25px;
  font-size: 20;
  font-weight: 800;
}

.button {
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 15px;
  font-size: 15px;
  color: white;
  transition: 0.3s linear;
}
.button:hover {
  background-color: #3dbafd;
  box-shadow: 1px 1px 25px rgb(138, 137, 137);
  padding: 15px 20px;
  font-size: 20;
  font-weight: 800;
}

/* ----------------
  First Part Ends
-------------------*/

/* ----------------
  Second Part Starts
-------------------*/
.second-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container {
  margin-top: 30px;
  background-color: white;
  padding: 33px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.player-card img {
  width: 330px;
}
.player-card {
  box-shadow: 5px 5px 20px rgb(219, 218, 218);
  padding: 20px;
  width: 330px;
  cursor: pointer;
}
.player-info p {
  color: grey;
  font-size: 16px;
}
/* ----------------
  Second Part Ends
-------------------*/

/* ----------------
  Third Part Starts
-------------------*/
.third-section {
  display: flex;
  margin-bottom: 200px;
}
.third-part h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.third-part p {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 16px;
}
.third-part {
  width: 40%;
  padding-left: 10%;
  padding-top: 6%;
  text-align: justify;
}
/* ----------------
  Third Part ends
-------------------*/

/* ----------------
  Last Part Starts
-------------------*/
.last-part img {
  width: 483px;
  margin-left: 35%;
}
.social-icon {
  text-align: center;
  cursor: pointer;
  color: gray;
}

.copyright {
  text-align: center;
}
.last-part {
  margin-top: 100px;
  margin-bottom: 200px;
}
/* ----------------
  Last Part ends
-------------------*/

/* ----------------
  Bonus 1st Part starts
-------------------*/
.bonus-part-one {
  background-color: #2d25a0;
}

.bonus-section-title {
  text-align: center;
  margin-bottom: 80px;
  padding-top: 80px;
  font-size: 40px;
  color: white;
}
.best-player-list {
  display: flex;
  justify-content: center;
}
.player-image {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.best-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;

  height: 300px;
}
.best-player-name {
  display: flex;
  margin-left: 20px;
  color: white;
  line-height: 7px;
  font-size: 30px;
}
/* -----------------
Bonus 1st Part Ends 
-------------------*/

/* -----------------
Bonus part 2 starts 
--------------------*/
.bonus-part-two {
  background-color: #e02c6d;
  height: 400px;
  align-items: center;
  margin-top: 100px;
}
.final-match {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.team-img {
  height: 100px;
}
.argentina {
  text-align: center;
  line-height: 10px;
}

.brazil {
  text-align: center;
  line-height: 10px;
  margin-left: 30px;
}
.team-name {
  color: white;
}
.final-result-text {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}
/* -------------------------------
  Responsive part for mobile start
----------------------------------*/
@media only screen and (max-width: 688px) {
  .first-part {
    width: 730px;
    display: block;
    background-color: #2d25a0;
    height: 1100px;
    background-size: auto;
    margin-bottom: 20px;
  }

  .text-part {
    width: 470px;
  }
  .half-width img {
    padding-top: 50px;
    width: 600px;
  }
  .image-part {
    display: flex;
    justify-content: center;
  }
  .second-section {
    margin-top: 20px;
  }
  .container {
    max-width: 100%;
  }
  .player-info h2 {
    font-size: 40px;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
  .player-card {
    box-shadow: 5px 5px 20px rgb(219, 218, 218);
    padding: 20px;
    width: 470px;
  }
  .player-card p {
    font-size: 16px;
  }
  .player-card img {
    width: 450px;
  }
  .players {
    position: relative;
    left: 107px;
  }
  .third-section {
    display: block;
  }
  .third-part {
    width: 470px;
    margin-left: 80px;
  }
  .third-part p {
    font-size: 26px;
  }
  .last-part img {
    width: 483px;
    margin-left: 38%;
  }
  .social-icon {
    width: 700px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    letter-spacing: 5px;
  }

  .copyright {
    width: 700px;
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
  .best-player {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 2300px;
    grid-row-gap: 50px;
  }
  .bonus-part-one {
    width: 730px;
    box-shadow: none;
  }
  .best-player-list {
    flex-direction: column;
    align-items: center;
  }

  .player-image {
    width: 200px;
    height: 200px;
    border-radius: 120px;
    border: 10px solid #e02c6d;
  }
  .best-player-name {
    font-size: 50px;
  }
  .bonus-section-title {
    font-size: 70px;
    padding-top: 40px;
  }
  .bonus-part-two {
    width: 730px;
  }
  .half-width {
    margin-left: 30px;
  }
}

/* -------------------------------
  Responsive part for mobile end
----------------------------------*/

/* -------------------------------
  Responsive part for Tab start
----------------------------------*/
@media only screen and (min-width: 688px) and (max-width: 1024px) {
  .first-part {
    width: 100%;

    background-color: #2d25a0;
    height: 700px;
    background-size: auto;
    margin-bottom: 15px;
  }
  .text-part {
    width: 400px;
  }
  .half-width img {
    padding-top: 50px;
    width: 450px;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
  .third-section {
    width: 90%;
  }
  .third-part {
    width: 100%;
  }
  .third-part h1 {
    font-size: 30px;
  }
  .third-part p {
    font-size: 25px;
    line-height: 30px;
  }
  .third-section img {
    width: 400px;
  }
  .best-player {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 1000px;
    grid-row-gap: 50px;
  }

  .player-image {
    width: 100px;
    height: 100px;
    border-radius: 120px;
    border: 10px solid #e02c6d;
  }
  .best-player-list {
    flex-direction: column;
    align-items: center;
  }
  .best-player-name {
    font-size: 40px;
  }
  .bonus-section-title {
    font-size: 60px;
    padding-top: 40px;
  }
}
/* -------------------------------
  Responsive part for Tab ends
----------------------------------*/
